.peperomiaCard {
  padding: 1.25rem 3.6rem;
  margin: 2rem;
  width: 25rem;
  height: 26rem;
  color: #232d22;
  border-radius: 1.188rem;
  background-color: #fff;
  box-shadow: -1.576px 4.201px 36.763px 0px rgba(0, 0, 0, 0.15);
}

.peperomiaCard img {
  position: relative;
  bottom: 13rem;
  right: 8rem;
}

.textsCard {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  bottom: 20rem;
}

.textsCard h1 {
  width: 13.2rem;
}

.textsCard p {
  width: 19rem;
}

.textsCard a {
  display: flex;
  align-items: center;
  color: #168b46;
  text-decoration: none;
  gap: 0.5rem;
}

.textsCard a:hover {
  text-decoration: underline;
}

.crassulaCard {
  width: 24rem;
  height: 25.25rem;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: -1.5px 4px 35px 0px rgba(0, 0, 0, 0.15);
  padding: 1.25rem 3.6rem;
}

.crassulaCard img {
  position: relative;
  bottom: 7.5rem;
}

.crassulaCard h1 {
  position: relative;
  top: 5rem;
}